# Misc
.DS_Store
.idea

# LaTeX
report/out/*
!report/out/.gitkeep
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.pdf

# Python
__pycache__/
*.pyc
.venv/
.env/
minidungeon-pcg/src/minidungeon_pcg/pcg/stages/ga_generated.txt
!minidungeon-pcg/src/minidungeon_pcg/pcg/stages/.gitkeep
minidungeon-pcg/src/minidungeon_pcg/pcg/props/ga_generated.json
!minidungeon-pcg/src/minidungeon_pcg/pcg/props/.gitkeep
minidungeon-pcg/.python-version
minidungeon-pcg/**/install-pyenv-win.ps1